*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}
/* header and navbar  */
.header{
    background-color: #161f39;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d2d6fd;
    text-align: center;
    line-height: 100px;
    position: relative;
    color: #1D267D;
    font-size: 40px;
    transition: 1s;
}

.logo::after{
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-color: #02062c #02062c #02062c transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    transition-duration: 2s;

}
.logo:hover::after{
    transform: rotate(1turn);
    border-color: #3795BD #3795BD #3795BD transparent;
}
.logo:hover{
    color: #3795BD;
    background-color: #0C134F;
}
.navbar ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
}
.navbar li{
    text-decoration: none;
    margin-left: 30px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.navbar a:hover{
    color: #0ef;
}
.navbar .btn{
    color: white;
    font-size: 40px;
    display: none;
}

/* home page */
#home{
    background-color: #161f39;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#home .personal{
    color: white;
    margin-top: 10%;
    margin-left: 10%;
}
.personal h3{
    text-transform: capitalize;
}
.personal h1{
    text-transform: uppercase;
    color: #0ef;
}
.personal a{
    text-decoration: none;
    font-size: 30px;
}

.personal a:hover{
    color: rgb(32, 89, 174);
}


/* education */
#education{
    text-align: center;
    margin-top: 3%;
}
#education .university{
    margin-top: 3%;
}
#education h2{
    font-weight: bold;
}
.edu_line{
    width: 50%;
    margin: 0 auto;
    border-top: 3px solid ;
}
#education .university{
    display: flex;
    justify-content: center;

}
.orange{
    margin-right: 5%;
}
#education .university .orange_photo{
    background-image: url("Coding-Academy-Logo.jpg");
    background-size: cover;
    width: 500px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
}
#education .university .neu_photo{
    background-image: url("International-Postgraduate-Scholarships-at-Near-East-University-in-Turkey-2020.png");
    background-size: cover;
    width: 500px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;

}
#education .university .student{
    background-color: #0C134F;
    color: white;
    border: 1px solid #0C134F;
    border-radius: 5px;
    padding: 10px;
}
/* skills */
#skills{
    margin-top: 5%;
    background-color: #0C134F;
    text-align: center;
    color: white;
    width: 100%;
    /* height: 350px; */
}
#skills h2{
    padding: 20px;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: bold;
}
#skills .pro{
    display: flex;
    justify-content: center;
}
#skills div{
    width: 100%;
    height: 200px;
}
#skills .html{
    background-image: url(html5-removebg-preview.png);
    background-size: cover;
    background-position: center;
    
}
#skills .css{
    background-image: url(css3-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
#skills .js{
    background-image: url(JavaScript-logo.png);
    background-size: cover;
    background-position: center;
}
#skills .cpp{
    background-image: url(cpp-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
#skills .csharp{
    background-image: url(csharp-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
#skills .py{
    background-image: url(python-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
#skills .gdscript{
    background-image: url(godot-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
/* projects */
#projects{
    margin-top: 5%;
}
#projects h2{
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 40px;
}
.ninja , .mini_1 , .mini_2{
    margin-bottom: 40px;
    position: relative;
}
.mini_1 , .mini_2{
    margin-left: 20px;
}
.ninja{
    display: flex;
    align-items: center;
}
.ninja_intro{
    width: 600px;
    margin-left: 300px;
    font-size: 30px;
    font-weight: bold;
    color: #0C134F;
}
.ninja::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: #0C134F;
    left: 450px;
}
.ninja::before{
    content: "";
    position: absolute;
    background-color: white;
    border-width: 25px;
    border-style: solid;
    border-color: transparent  transparent transparent #0C134F;
    left: 470px;;
}
.mini_1{
    display: flex;
    align-items: center;
}
.mini1_intro{
    width: 600px;
    margin-left: 320px;
    font-size: 30px;
    font-weight: bold;
    color: #0C134F;
}
.mini_1::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: #0C134F;
    left: 450px;
}
.mini_1::before{
    content: "";
    position: absolute;
    background-color: white;
    border-width: 25px;
    border-style: solid;
    border-color: transparent  transparent transparent #0C134F;
    left: 470px;;
}
.mini_2{
    display: flex;
    align-items: center;
}
.mini2_intro{
    width: 600px;
    margin-left: 320px;
    font-size: 30px;
    font-weight: bold;
    color: #0C134F;
}
.mini_2::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: #0C134F;
    left: 450px;
}
.mini_2::before{
    content: "";
    position: absolute;
    background-color: white;
    border-width: 25px;
    border-style: solid;
    border-color: transparent  transparent transparent #0C134F;
    left: 470px;;
}
#experiences {
    margin-top: 5%;
    text-align: center;
}
#experiences h2{
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
}
#experiences > div{
    display: flex;
    justify-content: center;
}
#experiences div div{
    border: 1px solid #0C134F;
    border-radius: 5px;
    margin-left: 100px;
    font-size: 40px;
    color: #0C134F;
    padding: 10px;
}
.objecte{
    margin-top: 5%;
    padding: 20px;
    text-align: center;
    color: #0C134F;
}
.objecte h2{
    font-size: 40px;
    font-weight: bold;
}
.objecte p{
    font-size: 25px;
}
.footer{
    background-color: #0C134F;
    color: white;
    text-align: center;
    height: 40vh;
}
.footer div{
    margin-bottom: 20px;
    padding: 20px;
}
.footer div span{
    font-size: 40px;
    color: #3795BD;
}
.footer a{
    text-decoration: none;
    padding: 10px;
}
.footer i{
    font-size: 40px;
}
@media (min-width: 412px) and (max-width: 1000px){
    .navbar li{
        display: none;
    }
    .navbar .btn{
        display: flex;
    }
}