*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}
section ,footer{
    
    overflow-x: hidden;
}
/* header and navbar  */
.header{
    background-color: #161f39;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo{
    margin: auto 0;
    
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: #d2d6fd;
    text-align: center;
    line-height: 300%;
    position: relative;
    color: #1D267D;
    font-size: 3.5vh;
    transition: 1s;
}

.logo::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-color: #02062c #02062c #02062c transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    transition-duration: 2s;

}
.logo:hover::after{
    transform: rotate(1turn);
    border-color: #3795BD #3795BD #3795BD transparent;
}
.logo:hover{
    color: #3795BD;
    background-color: #0C134F;
}
.navbar ul{
    margin-top: 2%;
    display: flex;
    list-style: none;
}
.navbar ul li{
    text-decoration: none;
    margin-left: 30px;
    font-size: 130%;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.navbar a:hover{
    color: #0ef;
}
.navbar .btn{
    color: white;
    font-size: 40px;
    display: none;
}
.navo{
    display: none;
    background-color: #1D267D;
    
}
.navo a{
    text-decoration: none;
    color: white;
}

/* home page */
#home{
    background-color: #161f39;
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#home .personal{
    color: white;
    margin-top: 15%;
    margin-left: 10%;
}
.personal h3{
    text-transform: capitalize;
}
.personal h1{
    text-transform: uppercase;
    color: #0ef;
}
#home .personal p{
    font-size: 140%;
}
.personal a{
    text-decoration: none;
    font-size: 130%;
    color: #0ef;
}

.personal a:hover{
    color: rgb(32, 89, 174);
}
.personal_img{
    margin-right: 10%;
    margin-top: 5%;
}
.personal_img img{
    width: 80%;
    height: 80%;
    
}
.butn{
    background-color: transparent;
    border-radius: 5px;
    padding: 2%;
}

/* education */
#education{
    text-align: center;
    margin-top: 3%;
}
#education .university{
    margin-top: 3%;
}
#education h2{
    font-weight: bold;
}
.edu_line{
    width: 50%;
    margin: 0 auto;
    border-top: 3px solid ;
}
#education .university{
    display: flex;
    justify-content: center;

}
.orange{
    margin-right: 5%;
}
#education .university .orange_photo{
    background-image: url("Coding-Academy-Logo.jpg");
    background-size: cover;
    width: 40vw;
    height: 40vh;
    border: 1px solid black;
    border-radius: 5px;
}
#education .university .neu_photo{
    background-image: url("International-Postgraduate-Scholarships-at-Near-East-University-in-Turkey-2020.png");
    background-size: cover;
    width: 40vw;
    height: 40vh;
    border: 1px solid black;
    border-radius: 5px;

}
#education .university .student{
    background-color: #0C134F;
    color: white;
    border: 1px solid #0C134F;
    border-radius: 5px;
    padding: 10px;
}
/* skills */
#skills{
    margin-top: 5%;
    background-color: #0C134F;
    text-align: center;
    color: white;
    width: 98.9;
    /* height: 350px; */
    overflow: hidden;
}
#skills h2{
    padding: 2%;
    margin-bottom: 5%;
    font-size: 200%;
    font-weight: bold;
}
#skills .pro{
    display: flex;
    justify-content: center;
}
#skills div{
    height: 20vh;
    text-align: center;
}
.pro i{
    font-size: 500%;
    padding-right: 5%;
    padding-left: 3%;
    color: #0ef;
    
}

/* projects */
#projects h2{
    font-size: 200%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
    font-weight: bold;
}
.all_projects{
    display: flex;
    justify-content: space-around;
    width: 98vw;
}
.all_projects span{
    color: #3795BD;
    font-size: 120%;
}
.image{
    border: 1px solid #0C134F;
    border-radius: 1%;
    margin-bottom: 20%;
    position: relative;
}
.image::after{
    content: "";
    position: absolute;
    background-color: white;
    border-width: 25px;
    border-style: solid;
    border-color: #0C134F  transparent transparent transparent;
    left: 40%;
    top: 105%;
}
.image:hover::after{
    border-color: #0ef  transparent transparent transparent;
}
.ninja_intro , .mini1_intro , .mini2_intro{
    width: 15rem;
    color: #0C134F;
    font-size: 100%;
}
.par{
    text-align: center;
    margin-left: 10%;
}
.ninja_par{
    padding-left: 7%;
}

/* experiences */
#experiences {
    margin-top: 5%;
    text-align: center;
}
#experiences h2{
    margin-bottom: 5%;
    font-size: 200%;
    font-weight: bold;
}
#experiences > div{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
#experiences div div{
    border: 1px solid #0C134F;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 150%;
    color: #0C134F;
    padding: 3%;
    width: 50%;
}
/* .objecte{
    margin-top: 5%;
    padding: 5%;
    text-align: center;
    color: #0C134F;
}
.objecte h2{
    font-size: 40px;
    font-weight: bold;
}
.objecte p{
    font-size: 25px;
} */
/* footer  */
.footer{
    background-color: #0C134F;
    color: white;
    text-align: center;
    /* height: 40vh; */
}
.footer div{
    /* margin-bottom: 1%; */
    padding: 1%;
}
.footer div span{
    font-size: 170%;
    color: #3795BD;
    text-transform: uppercase;
}
.footer a{
    text-decoration: none;
    padding: 2%;
}
.footer i{
    font-size: 200%;
}
/* responsive */
@media (min-width: 280px) and (max-width: 1000px){
    
    .navbar li{
        display: none;
    }
    .navo{
        display: flex;
    }
    #projects .all_projects{
        flex-wrap: wrap;
    }
    .pro{
        width: 100%;
    }
    .pro i{
        font-size: 300%;
    }
    header{
        width: 100%;
    }
    .university{
        flex-wrap: wrap;
    }
    .orange , .neu{
        width: 100% ;
    }
    .neu_photo{
        width: 96% !important;
    }
    .orange_photo {
        background-size: 100%;
        padding: 10%;
        width: 99% !important
    }
    .student{
        width: 100%;
    }
    .neu_student{
        width: 97%;
    }
    #experiences .career{
        flex-wrap: wrap;
    }
    
}